#menu
{
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	font-size: 1em;
	margin: 0;
	padding: 0;
	list-style-type: none;
} 
 #menu > li
 {
	 width:auto;
	 height: auto;
	 list-style-type: none;
	 text-align: center;
	 width: auto;
	 position: relative;
 } 

 #menu a
 {
	 color:#FFF;
	 text-decoration:none;
	 margin-left:20px;
	 font-size: inherit;
	 font-family:Arial;
	 margin: 0;
	 width: 100%;
 }

 #menu i
 {
	 color: #fff;
	 padding: 5px;
 }

 #menu li:hover > a
 {
	 color: #09C;
 }

 #menu li:hover > i
 {
	 transform: rotate(180deg);
	 color: #09C;
 }
 
 #menu  li  ul  li
 {
	 background-color:#28282d;
	 width: 100%;
	 padding: 1.2em;
	 list-style-image: none;
 }
 
  #menu  li  ul  li:hover
  {
	  background-color:#28282d;
  }

 #menu  li  ul
 {
	 display:none;
	 left: 0;
	 position: absolute;
	 padding: 0;
	 margin: 0;
	 width: auto;
	 padding: 1vh;
	 z-index: 100;
	 list-style-type: none;
 }
 
 #menu  li:hover  ul
 {
	 display:block;
 }
 
 #menu ol 
 {
	display:none;
	position: absolute;
	margin-left: 55px;
 }
 
 
  #menu  li  ul  li:hover  ol 
  {
	  display:block;
  }
 
 #menu  li  ul  li  ol  li
 {
	width: 100%;
	text-align: center;
	font-size: 1em;
	list-style-type: none;
 }
 
 #menu  li  ul  li  ol  li  a
 {
	width: 100%;
	font-size: inherit;
 }
 
  #menu  li  ul  li  ol  li  a:hover
  {
	 color:#09c;
	 background-color:#2a333d;
  }
 
 
 
 
 
 
 
 
 
 
 
 
 