html, body
{
	padding:0;
	margin:0 !important;
	height:auto;
	min-height: 100%;
	background-image:url('../img/thumb-1920-629343.png');
	background-attachment:fixed;
	background-repeat:no-repeat;
	Background-size: cover;
	line-height:25px;
	overflow-x:hidden;
	font-size: 16px;
}

a
{
	color:#1a6fcc;
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;	
}

#board
{
	width:80%;
	background-color:#101016;
	height:auto;
	min-height: 100%;
	margin-left:auto;
	margin-right:auto;
	padding:0;
	
}

#header
{
	background-color:#1b2b4c;
	width:80%;
	height: auto;
	background-image:url('../img/Naglowek3.png');
	background-repeat:no-repeat;
	background-position:right center;
	margin-right:auto;
	margin-left:auto;
	margin-top:20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#header header
{
	width: 100%;
	display: flex;
	flex-direction: row;
}

#header #logo
{
	width: 90%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: start;
	padding: 20px;
}

#header #logo img
{
	width: 12vh;
	height: 10vh;
}

#header #logo h1
{
	font-family: "Castellar";
	letter-spacing:10px;
	font-size: 2.3em;
	color: #fff;
	font-weight: inherit;
	margin-left: 30px;
}

#header #pageCount h2
{
	color: #fff;
	font-size: 1.5;
	text-align: center;
	font-weight: inherit;
}


#naglowek
{
	height:150px;
	text-align:center;
	
}

#naglowek > h1
{
	font-family:Calibri;
	font-size:40px;
	line-height:1em;
	text-align:left;
	color:#d5d4d4;
}

#pageHeader
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 30px auto;
	min-height: 200px;
}

#pageHeader .pageHeader_column
{
	width: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

#pageHeader .pageHeader_column h1
{
	font-size: 3em;
	font-family: Calibri;
	color: white;
	margin: 0;
	padding: 40px;
}

#pageHeader .pageHeader_column .Buttons
{
	width: 90%;
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	align-items: center;
	flex-direction: row;

}

#pageHeader .pageHeader_column .Buttons a
{
	color: white;
}

#pageHeader .Buttons .button
{
	width: 30%;
	margin: 0;
	padding: 5px 0;
	background-color: #1b2b4c;
	border: 1px solid #fff;
	box-sizing: border-box;
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 1em;
}

#pageHeader .Buttons .button div
{
	display: flex;
}

#pageHeader .Buttons .button:first-child
{
	background-color: transparent;
}

#pageHeader .Buttons .button .leftIcon
{
	height: 100%;
	display: inline-block;
	margin-left: -15%;
	margin-right: 15%;
}

#pageHeader .Buttons .button i
{
	font-size: 1.7rem;
	display: inline-block;
	color: white;
}

#pageHeader .Buttons .button h2
{
	font-size: inherit;
	line-height: 30px;
	font-weight: 400;
	padding: 0px;
	margin: 0;
	color: #fff;
	font-family: Calibri;
}




#introSection_poster
{
	width:70%;
	height:auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	border: 2px solid #650000;
	box-sizing: border-box;
	
}

#introSection_poster .Header
{
	background-color: #650000;
	width: 100%;
	display: flex;
	justify-content: center;
	
}

#introSection_poster .Header h1
{
	text-align: center;
	margin:0;
	padding: 20px 0;
	color: #fff;
}

#introSection_poster .Buttons
{
	background-color:white;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	
}

#introSection_poster .Buttons div
{
	display: inline-flex;
	width: auto;
	background-color: white;
	color: black;
}

#introSection_poster .Buttons div.active
{
	background-color: #650000;
	color: white;
}

#introSection_poster .Buttons div h2
{
	font-family: Calibri;
	font-weight: 400;
	padding: 3px 10px;
	font-size: 1rem;
	margin: 0;
	cursor: pointer;
}

#introSection_poster .Buttons div:not(.active):hover
{
	opacity: 0.5;
}


#introSection_poster .ImageBox
{
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#introSection_poster .ImageBox img
{
	width: 100%;
	padding: 0;
	margin: 0;
	height: 100%;
}

#introSection_poster .contentBox
{
	width: 100%;
	background-color: white;
}

#introSection_poster .contentBox .Header
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding: 10px 0;
}

#introSection_poster .contentBox .Header h3
{
	font-size: 1rem;
	color: white;
	font-family: Calibri;
	margin: 0;
	padding: 0;
}

#introSection_poster .contentBox .Header span
{
	color: white;
	display: inline-flex;
	margin-right: -30px;
	margin-left: 30px;
	cursor: pointer;
	font-size: 1.3rem;
	font-weight: bolder;
}

#introSection_poster .contentBox ul
{
	display: block;
	height: auto;
	opacity: 1;
	transition: all 0.4s ease-in-out;
}

#introSection_poster .contentBox ul.hide
{
	height: 0;
}

#introSection_poster .contentBox ul.acitive
{
	display: block;
}

#introSection_poster .contentBox ul:not(.active)
{
	display: none;
}

#introSection
{
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

#introSection div#introSection_left
{
	width: 70%;
	display: inline-block;
	min-height: 750px;
}

#introSection div#introSection_right
{
	width: 30%;
	display: inline-block;
	min-height: 750px;
}

#contentSection .title
{
	font-family:Arial;
	font-size:2em;
	font-weight:normal;
	margin-bottom:30px;
	width:100%;
	margin-left:5%;
}

#contentSection 
{
	width:100%;
	height: auto;
	margin:0;
	padding:0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.infoPage
{
	margin: 0 auto;
	height: auto;
	margin-top: 30px;
	padding: 20px 0px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #ccc;
}

#contentSection .infoPage
{
	width: 100%;
}

.infoPage_header
{
	margin-left: 20px;
	width: 100%;
}

.infoPage_header h1
{
	margin-top:30px;
	margin-left: 0;
	font-size: 2em;
	font-family: Calibri;
}

.infoPage_body
{
	margin: 0 auto;
	height: 100%;
	display: inline-block;
}

.infoPage_body p
{
	text-align: justify;
	width: 90%;
	padding: 0;
	margin: 0 auto;
}

.infoPage_body li
{
	padding: 10px;
}

p
{
	color:white;
	text-align:left;
	width:100%;
	margin-left:5%;
	font-size:inherit;
	font-family:Calibri;
}

#tableOfContent
{
	background-color:black;
	width: 25%;
	padding-bottom: 10px;
	margin-left: 5%;
	display: block;
	flex-direction: column;
	align-items: center;
	border-color:#650000;
	color:white;
	border-style:solid;
	text-align:center;
	margin-bottom:40px;
	
}

#tableOfContent button
{
	background-color: transparent;
	padding: 0;
	margin: 0;
	border: none;
	height: auto;
}

#tableOfContent ol
{
	text-align:left;
	margin: 0;
	display: block;
}

#footer
{
	background-color:#4d5661;
	height:auto;
	margin:0 auto;
	text-align:center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#footer .ImageBox
{
	display:block;
	width:15%;
	height:80%;
}

#footer .ImageBox img
{
	width: 100%;
	height: 100%;
}

#footer div.lastPost
{
	width:100%;
	color:#E8E8E8;
	font-family: 'Roboto Mono', monospace;
	display: flex;
	align-items: center;
	flex-direction: column;
	
}

#footer div.lastPost p
{
	width: auto;
	width: 60%;
	color:#E8E8E8;
	font-family: 'Roboto Mono', monospace;
	font-size:inherit;
	text-align:justify;
	margin-left: 0;
	margin-right: 0;
}

#footer div.lastPost p:nth-child(3)
{
	text-align: center;
}

#footer div.socialMedia
{
	width: 30%;
	margin: 0 auto;
	align-self: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 20px;
}


#footer .socialMedia i
{
	color: white;
	font-size: 1.5rem;
}


#footer .socialMedia i:hover
{
	color: #ccc;
}



@media screen and (max-width: 1200px)
{

	body
	{
		font-size: 10px;
	}

	#introSection, #pageHeader
	{
		flex-direction: column;
	}
	#introSection div#introSection_left, #pageHeader .pageHeader_column
	{
		width: 100%;
	}

	#pageHeader .pageHeader_column .Buttons
	{
		width: 100%;
	}

	#introSection div#introSection_right
	{
		width: 70%;
	}

	#tableOfContent
	{
		width: 70%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 470px)
{
	#introSection div#introSection_right
	{
		width: 100%;
	}
}


