html, body
{
	padding:0;
	margin:0 !important;
	height:auto;
	min-height: 100%;
	background-image:url('../img/thumb-1920-629343.png');
	background-attachment:fixed;
	background-repeat:no-repeat;
	Background-size: cover;
	line-height:25px;
	overflow-x:hidden;
}

a
{
	color:#1a6fcc;
	text-decoration:none;
}

#losowane
{
	 color:#FFF;
	 font-family:Arial;
	 text-decoration:none
}

#losowane:hover
{
	color:#09c;
}

a:hover
{
text-decoration:underline;	
}

#board
{
	width:80%;
	background-color:#101016;
	height:auto;
	min-height: 100%;
	margin-left:auto;
	margin-right:auto;
	padding:0;
	
}

#header
{
	background-color:#1b2b4c;
	width:80%;
	height:16.5vh;
	background-image:url('../img/Naglowek3.png');
	background-repeat:no-repeat;
	background-position:right center;
	margin-right:auto;
	margin-left:auto;
	margin-top:20px;
}

#header > img
{
	height:10vh;
	width:8vw;
	float:left;
	margin-top:2%;
	margin-left:2%;
}

#header > p
{
float:left;
width:60%;
text-align:left;
font-size:30px;
font-family:Castellar;
margin-top:3%;
margin-bottom:1%;
word-spacing:10px;
letter-spacing:8px;

}

#header > div
{
	margin:0;
	padding:0;
	width:30%;
	height:70px;
	float:right;
	margin-right:2%;
	margin-top:-6%;
}

#header > div > span
{
	padding-top:10px;
	padding-bottom:10px;
	display:block;
	text-align:right;
	font-family:Arial;
	font-size:12px;
	float:left;
	margin-left:10%;
	color:#FFF;
}

#header > div > span > span
{
	font-size:20px;
}

.button
{
	float:right;
	display:block;
	margin-top:5%;
	margin-right:10%;
	padding-top:5px;
	padding-bottom:7px;
	width:50%;
	height:30%;
	color:#FFF;
	font-size:13px;
	font-family:Arial;
	border:1px solid #FFF;
	background-image:url('../img/Tlo_guzika_1.png');
	background-color:none;
	text-align:center;
	z-index:5;
	
}

.button > img
{
	width:10%;
	height:100%;
	float:left;
}

.button > a
{
	color:#FFF;
	font-size:13px;
	font-family:Arial;
	text-decoration:none;
}

#naglowek
{
	height:150px;
	text-align:center;
	
}

#naglowek > h1
{
	font-family:Calibri;
	font-size:40px;
	line-height:1em;
	text-align:left;
	color:#d5d4d4;
}

.bt
{
	display:block;
	padding-top:5px;
	padding-left:0;
	padding-right:0;
	width:30%;
	border:1px solid #FFF;
	background-image:url('../img/Tlo_guzika_1.png');
	background-color:none;
	text-align:center;
	z-index:5;
	text-decoration:none;
	float:left;
	margin-right:2%;
	color:#ffffff;
	font-size:12px;
	font-family:Arial;
	
}

#bt1
{
	display:block;
	padding-top:5px;
	padding-bottom:2px;
	padding-left:0;
	padding-right:0;
	width:30%;
	border:1px solid #1a2b4c;
	background-color:#1a2b4c;
	background-image:url('../img/pen.png');
	background-repeat:no-repeat;
	background-position:10px 10px;
	text-align:center;
	z-index:5;
	text-decoration:none;
	float:left;
	margin-right:2%;
	color:#ffffff;
	
}


 .bt:hover
 {
	color:#cccccc; 
	border-color:#cccccc;
	cursor:pointer;
	text-decoration:none;
 }
 
 #bt1:hover
 { 
	cursor:pointer;
	background-color:#345696;
 }

#buttons
{
	width:40%;
	color:#ffffff;
	font-size:12px;
	font-family:Arial;
}

h1
{
	color:#d5d4d4;
	float:left;
	margin-left:5%;
}

.title
{
	font-family:Arial;
	font-size:30px;
	font-weight:normal;
	margin-bottom:30px;
	width:100%;
	margin-left:3%;
}

hr
{
	width:100%;
	background-color:#404045;
	border-color:#404045;
	margin-top:10px;
	margin-bottom:10px;
	
}

#buttons
{

	float:right;
	margin-top:5%;
	margin-right:5%;
	
}

#pierwsza
{
	margin-left:auto;
	margin-right:auto;
	width:100%;
	margin-top:40px;
	height:630px;
}

#leftSide
{
	float:left;
	width:60%;
	height:630px;
}

.akapit
{
	margin:0;
	width:110%;
}

.akapit  p
{
	color:white;
	text-align:left;
	font-size:18px;
	font-family:Calibri;
}

#rightSide
{
	float:left;
	height:640px;
	width:34%;
	margin-left:5%;
	position:relative;
	padding:0;
}

#introSection_poster
{
	width:70%;
	height:auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	border: 2px solid #650000;
	box-sizing: border-box;
	
}

#introSection_poster .Header
{
	background-color: #650000;
	width: 100%;
	display: flex;
	justify-content: center;
	
}

#introSection_poster .Header h1
{
	text-align: center;
	margin:0;
	padding: 20px 0;
}

#introSection_poster .Buttons
{
	font-size:1.2em;
	background-color:white;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	
}

#introSection_poster .Buttons div
{
	display: inline-flex;
	width: auto;
	background-color: white;
	color: black;
}

#introSection_poster .Buttons div.active
{
	background-color: #650000;
	color: white;
}

#introSection_poster .Buttons div h2
{
	font-family: Calibri;
	font-weight: 400;
	padding: 3px 10px;
	font-size: 1em;
	margin: 0;
	cursor: pointer;
}

#introSection_poster .Buttons div:not(.active):hover
{
	opacity: 0.5;
}


#introSection_poster .ImageBox
{
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#introSection_poster .ImageBox img
{
	width: 100%;
	padding: 0;
	margin: 0;
	height: 100%;
}

#introSection_poster .contentBox
{
	width: 100%;
	background-color: white;
}

#introSection_poster .contentBox .Header
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding: 10px 0;
}

#introSection_poster .contentBox .Header h3
{
	font-size: 1em;
	color: white;
	font-family: Calibri;
	margin: 0;
	padding: 0;
}

#introSection_poster .contentBox .Header span
{
	color: white;
	display: inline-flex;
	margin-right: -30px;
	margin-left: 30px;
	cursor: pointer;
	font-size: 1.3em;
	font-weight: bolder;
}

#introSection_poster .contentBox ul
{
	display: block;
	height: auto;
	opacity: 1;
	transition: all 0.4s ease-in-out;
}

#introSection_poster .contentBox ul.hide
{
	height: 0;
}

#introSection_poster .contentBox ul.acitive
{
	display: block;
}

#introSection_poster .contentBox ul:not(.active)
{
	display: none;
}

#contentSection 
{
	width:100%;
	height: auto;
	margin:0;
	padding:0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#introSection
{
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

#introSection div#introSection_left
{
	width: 70%;
	display: inline-block;
	min-height: 750px;
}

#introSection div#introSection_right
{
	width: 30%;
	display: inline-block;
	min-height: 750px;
}

#contentSection .title
{
	font-family:Arial;
	font-size:30px;
	font-weight:normal;
	margin-bottom:30px;
	width:100%;
	margin-left:5%;
}

.infoPage
{
	margin: 0 auto;
	height: auto;
	margin-top: 30px;
	padding: 20px 0px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #ccc;
}



#contentSection .infoPage
{
	width: 100%;
}

.infoPage_header
{
	margin-left: 20px;
	width: 100%;
}

.infoPage_header h1
{
	margin-top:30px;
	margin-left: 0;
	font-size: 2em;
	font-family: Calibri;
}

.infoPage_body
{
	margin: 0 auto;
	height: 100%;
	display: inline-block;
}

.infoPage_body p
{
	text-align: justify;
	width: 90%;
	padding: 0;
	margin: 0 auto;
}

.rest
{
	margin-left:auto;
	margin-right:auto;
	width:100%;
	position:relative;
	height:200px;
	margin-top:20px;
	margin-bottom:10px;
}

.pojemnik
{
	color:white;
	text-align:left;
	font-size:18px;
	font-family:Calibri;
	
	
}

.pismo
{
	width:94%;
	margin:0;
	text-align:justify;
	margin-left:auto;
	margin-right:auto;
}


#Ciekawostki
{
	height:300px;
}

#introSection_poster > a > img
{
	height:300px;
	width:100%;
	margin-left:5%;
	margin:0%;
	padding:0;
	margin-bottom:-25px;
}
#introSection_poster > p > a
{
	color:white;
	background-image:url('../img/down.png');
	background-repeat:no-repeat;
	display:block;
	height:20px;
	width:20px;
	float:right;
	margin-top:7%;
	margin-left:-8%;
	margin-right:8%;
	padding:0px 6px 0px 6px;
}

#introSection_poster > p > #funkcja1
{
	display:none;
}

p
{
	color:white;
	text-align:left;
	width:100%;
	margin-left:5%;
	font-size:18px;
	font-family:Calibri;
}


.akapit > li
{
	color:white;
	text-align:left;
	width:100%;
	margin-left:5%;
	font-size:18px;
	font-family:Calibri;
	
}

#tableOfContent
{
	background-color:black;
	width: 25%;
	padding-bottom: 10px;
	margin-left: 5%;
	display: block;
	flex-direction: column;
	align-items: center;
	border-color:#650000;
	color:white;
	border-style:solid;
	text-align:center;
	margin-bottom:40px;
	
}

#tableOfContent button
{
	background-color: transparent;
	padding: 0;
	margin: 0;
	border: none;
	height: auto;
}

#tableOfContent button p
{
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	font-size: 1em;
	color: #1a6fcc;
	text-decoration: underline;
	cursor: pointer;
}

#tableOfContent ol
{
	text-align:left;
	margin: 0;
	display: block;
}

#tableOfContent > h3 > #pierwszy , #drugi
{
	font-size:13px;
	font-family:Calibri;
	margin:0;
	padding:0;
	
}

#drugi
{
	display:none;
}

#pierwszy:hover , #drugi:hover
{
	text-decoration:underline;
}

#footer
{
	background-color:#4d5661;
	height:auto;
	margin:0 auto;
	text-align:center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#footer .ImageBox
{
	display:block;
	width:15%;
	height:80%;
}

#footer .ImageBox img
{
	width: 100%;
	height: 100%;
}

#footer div.lastPost
{
	width:100%;
	color:#E8E8E8;
	font-family: 'Roboto Mono', monospace;
	display: flex;
	align-items: center;
	flex-direction: column;
	
}

#footer div.lastPost p
{
	width: auto;
	width: 60%;
	color:#E8E8E8;
	font-family: 'Roboto Mono', monospace;
	font-size:0.8em;
	text-align:justify;
	margin-left: 0;
	margin-right: 0;
}

#footer div.lastPost p:nth-child(3)
{
	text-align: center;
}

#footer div.socialMedia
{
	width: 30%;
	margin: 0 auto;
	align-self: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 20px;
}


#footer .socialMedia i
{
	color: white;
	font-size: 1.5em;
}


#footer .socialMedia i:hover
{
	color: #ccc;
}



@media screen and (max-width: 1200px)
{
	#introSection
	{
		flex-direction: column;
	}
	#introSection div#introSection_left
	{
		width: 100%;
	}

	#introSection div#introSection_right
	{
		width: 70%;
	}

	#tableOfContent
	{
		width: 70%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 470px)
{
	#introSection div#introSection_right
	{
		width: 100%;
	}
}

@media screen and (max-width: 750px)
{
	

	#header > .head
	{
		padding-top:30px;
		padding-bottom:30px;
		font-size:220%;
		width:70%;
	}
	
	#header > img
	{
		padding-top:30px;
		padding-bottom:30px;
	}
	
	#naglowek
	{
		text-align:center;
	}
	
	#naglowek > h1
	{
		width:100%;
		text-align:center;
		padding-bottom:5px;
		padding-top:5px;
	}
	
	#buttons
	{
		display:none;
		
	}
	
}
